.category-container{
 

}
.labelforbox{
   
    color:white;
    /* display:inline-block; */
}
.box{
    background-color:green;
    color:white;
}
.wrapper{
    border:2px solid rgb(161, 161, 161);
    border-radius: 10px;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    margin-left:10%;
    margin-right:10%;
    margin-top:4rem;
    font-size:0.7em;
    min-height:399.99px;

} .formImage{
    background-image:url('../images/stormtrooperonkeyboard.jpg');
    background-size:cover;
    background-position:center;
    border-radius:5px 0px 0px 5px;
    grid-column: 1/5;
  
}
.formContainer{
    grid-column:5/11;
    padding:0.2em 4em;
    display:grid;
}
form{
    display:flex;
    flex-direction:column;
}
.formContainer > h2 {
    color:white;
    font-size:1.5em;
    font-weight:200;
}
.add-form > label{  
    color:white;
    margin-top:1em;
    margin-bottom:0.3em;

}
.add-form > input{
    padding:0.5em;
    border:none;
    border-radius:5px;
    opacity:.5;

}
.add-form > input:hover, input:focus{
    opacity:.9;
}
.submit-button{
    justify-self: center;
    margin-top:2em;
    margin-bottom:1em;
    padding:0.5em;
    width:50%;
    border:1px solid white;
    background-color:black;
    color:white;
    border-radius:5px;
}
.submit-button:hover{
    cursor:pointer;
}
.submit-message{
    color:white;
    justify-self:center;

}
.validate-message{
    color:red;
    display:inline-block;
    
    
    /* padding:.3em; */
}




