header{
    color:white; 
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:.5em 1.5em;

  }
  .headerLogo{
    margin:0;
    font-size:1em;
    font-family:'Libre Franklin', sans-serif;
    font-weight:800;
    font-size:2em;
    align-self:center;
 

  }
  .headerLogo:hover{
      cursor:pointer;
      color:rgb(250, 226, 12);
      transition:all 0.3s ease 0s;
  }
  .navbar{
      margin:0.5;
      
  }
  .nav-not-active{
    display:inline-block;
    border:2px solid #20202000;
    padding:0.3em;
    align-self:center;
    margin-left:1em;
    opacity:.8;
    
  }
  .nav-not-active:hover {
    border:2px solid goldenrod;
    transition:all 0.3s ease 0s; 
    cursor:pointer;
} 
.nav-active{
    display:inline-block;
    border:2px solid goldenrod;
    background-color:goldenrod;
    color:black;
    padding:0.3em;
    align-self:center;
    margin-left:1em;
    opacity:.8;
}
.nav-active:hover{
      border:2px solid goldenrod;
      transition:all 0.3s ease 0s; 
      cursor:pointer;
}
.not-submitted{
    color:rgba(255, 255, 255, 0);
    text-align:center;
    margin-top:0;
    padding:.3em;
}
.submitted{
    color:white;
    text-align:center;
    font-weight:800;
    background-color:rgba(0, 0, 0, 0.507);
    padding:.3em;
    margin-top:0;
}

   