.grid-container{
    font-size:1.3em;
    padding:2em;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:1em;

}
.buttons-container{
    display:flex;
    justify-content:center;
}
.not-active {
    border:1px solid rgb(95, 95, 95);
    background-color:rgb(75, 75, 75);;
    color:white;
    padding:0.5em 1em;
    margin:1em;
    border-radius:5px;

}
.active{
    background-color:goldenrod;
    color:black;
    border:1px solid black;
    padding:0.5em 1em;
    margin:1em;
    border-radius:5px;
}
.not-active:hover{
    cursor:pointer;
}
.active:hover{
    cursor:pointer;
}
.input-container{
    display:flex;
    justify-content: center;;
}
.searchfield{
    text-align:center;
    width:45px;
    transition: width .7s;
    padding:.5em;
    border-radius:0px 5px 5px 0px;
    border:none;
 
}
.searchfield:hover{
    width:15em;
}
.searchfield:focus{
    width:15em;
    background-color:white;
}
.image-container{
    padding:.5em;
    background-color:white;
    border-radius:5px 0px 0px 5px;
  
}
.search-image{
    height:20px;
    width:20px;
    background-image:url('../images/magnifierblack.png');
    background-color:white;
    background-size:contain;
    align-self:center;
    opacity:.5

}
.card{
    background-color:rgba(141, 141, 141, 0.5);
    font-size: .7em;
    border-radius:5px;
    color:white; 
}
.card > h2{
    color:goldenrod;
}
.card >p {
    margin-left:.5em;
    margin-right:.5em;
}
.favorite{
    height:20px;
    width:20px;
    background-image:url('../images/heartfilled.png');
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    margin:.5em;
}
.no-favorite{
    height:20px;
    width:20px;
    background-image:url('../images/heartwhite.png');
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    margin:.5em;
    
}
.favorite:hover, .no-favorite:hover{
    cursor:pointer;
}
.to-the-top{
    background-color:orange;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    margin:0.5em;
    padding:0.5em;
    border:none;
   

}
@media (max-width:618px){
    .grid-container{
       
        grid-template-columns:repeat(2, 1fr);
    }
}
@media (max-width:411px){
    .grid-container{
       
        grid-template-columns:repeat(1, 1fr);
    }
}