.grid-container{
    padding:2em;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:1em;
    
}
.card{
    background-color:rgba(141, 141, 141, 0.5);
    font-size: .7em;
    text-align: center;
    border-radius:5px;
    color:white; 
}
.card > h2{
    color:goldenrod;
}


.card-button{
    background-color:black;
    border:2px solid white;
    border-radius:5px;
    color:white;
    margin-bottom:0.5em;
    padding:0.5em;
}
.card-button:hover {

    cursor:pointer;
}
.to-the-top{
    background-color:orange;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    margin:0.5em;
    padding:0.5em;
    border:none;
   

}
/* @media (max-width:1068px){
    .grid-container{
        
        grid-template-columns:repeat(3, 1fr);
    }
} */

@media (max-width:618px){
    .grid-container{
       
        grid-template-columns:repeat(2, 1fr);
    }
}
@media (max-width:411px){
    .grid-container{
       
        grid-template-columns:repeat(1, 1fr);
    }
}